.newcontainer{
    margin-left: 35px;
    margin-right: 35px;

}

.card{
    height:450px;
    width:450px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid grey;
}


.squares{
    height:470px;
    width:470px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid grey;
}

.rectangles{

    height:450px;
    width:820px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid grey;

}