.newcontainer{
    margin-left: 35px;
    margin-right: 35px;

}

.card{
    height:400px;
    width:450px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}


.squares{
    height:400px;
    width:470px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    
}

.rectangles{

    height:400px;
    width:820px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

}