
.customerList{
    border: 1px solid grey;
}


.nameInfo{
padding-left: 0px;


}
.emailInfo{
    padding-left: 0px;

}

.phoneInfo{
    padding-left: 0px;
    
}

.contactInfo{
    padding-left: 0px;
}



.editButton{
  
    font-size: 22px;
    margin-right: 3px;
 
    }

.trashButton{
      
        font-size: 22px;
        margin-right: 3px;
        
    }


.edittrashButtons{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
   
}

.customerList:hover{
    border:1px solid lightblue;

}

.editButton:hover{
    font-size: x-large;
    color: green;
}

.trashButton:hover{
    font-size: x-large;
    color:red;
}

