
.customerList{
    background-color: lightgrey;
    height:50px;
    font-size: 22px;
    margin: auto;
    padding-top: 6px;
    border: 1px solid orange;
  
}

.nameInfo{
padding-left: 0px;
}
.emailInfo{
    padding-left: 0px;
}

.phoneInfo{
    padding-left: 0px;
}

.contactInfo{
    padding-left: 0px;
}



.editButton{
    float: right;
    font-size: 22px;
    margin-right: 3px;
    }

.trashButton{
        float: right;
        font-size: 22px;
        margin-right: 3px;
    }


.edittrashButtons{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
}

.customerList:hover{
    border:1px solid blue;
    background-color:gray;
}

.editButton:hover{
    font-size: x-large;
    color: green;
}

.trashButton:hover{
    font-size: x-large;
    color:red;
}

