.listStyle{
   font-size: large;
   font-weight: 500;
    border: 1px solid grey;

}



.editButtons{
float: right;
font-size: large;
margin-right: 3px;
color: green;
}

.trashButtons{
    float: right;
    font-size: large;
    margin-right: 3px;
    color: orangered;
}
.listStyle:hover{
    border:2px solid lightseagreen;
 

}

.editButtons:hover{
    
    color: darkgreen;
}

.trashButtons:hover{
   
    color:red;
    
}
